.app{
    text-align: center;
    padding:20px;
}

.artist-details{
    margin:20px;
    border:1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.artist details img{
    width:100px;
    height:auto;
}

.artist-list{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}