.app{
    text-align: center;
    padding:20px;
}

.artist-details{
    margin:10px;
    border:1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.artist-img{
    width:300px;
    height:auto;
    border-radius:20%;
}

.artist-list{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    flex-direction: column;
}

.app > h1 {
    font-family:Impact;
}